@-webkit-keyframes come-in {
    0% {
      -webkit-transform: translatey(100px);
              transform: translatey(100px);
      opacity: 0;
    }
    30% {
      -webkit-transform: translateX(-50px) scale(0.4);
              transform: translateX(-50px) scale(0.4);
    }
    70% {
      -webkit-transform: translateX(0px) scale(1.2);
              transform: translateX(0px) scale(1.2);
    }
    100% {
      -webkit-transform: translatey(0px) scale(1);
              transform: translatey(0px) scale(1);
      opacity: 1;
    }
  }
  @keyframes come-in {
    0% {
      -webkit-transform: translatey(100px);
              transform: translatey(100px);
      opacity: 0;
    }
    30% {
      -webkit-transform: translateX(-50px) scale(0.4);
              transform: translateX(-50px) scale(0.4);
    }
    70% {
      -webkit-transform: translateX(0px) scale(1.2);
              transform: translateX(0px) scale(1.2);
    }
    100% {
      -webkit-transform: translatey(0px) scale(1);
              transform: translatey(0px) scale(1);
      opacity: 1;
    }
  }
  * {
    margin: 0;
    padding: 0;
  }

  .image-selection-fab {
    transform: scaleX(-1);
    width: 65px;
    height: auto;
    filter: drop-shadow(0px 0px 5px rgba(225, 225, 225, 1)) contrast(110%) brightness(105%); opacity: 1;
  }

  .image-selection-fab:hover {
    transform: scaleX(-1);
    filter: drop-shadow(0px 0px 50px rgba(225, 225, 225, 1)); opacity: 1;
    animation-name: shakess;
    animation-duration: .5s;
    animation-iteration-count: infinite;
  }
  
  .floating-button {
    background-color: transparent;
  }

  .floating-container {
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 5vh;
    margin-bottom: 5vh;
  }

  .floating-container:hover {
    min-height: 50vh;
  }

  @media (max-width: 1900px) {
    .floating-container:hover {
      min-height: 70vh;
    }
  }

  @media (max-width: 1600px) {
    .floating-container:hover {
      min-height: 80vh;
    }
  }

  @media (max-width: 1300px) {
    .floating-container:hover {
      min-height: 90vh;
    }
  }

  @media (max-width: 1024px) {
    .floating-container:hover {
      min-height: 80vh;
    }
  }
  
  @media (max-width: 768px) {
    .floating-container:hover {
      min-height: 80vh;
    }
  }

  .floating-container:hover .floating-button {
    -webkit-transform: translatey(5px);
            transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .floating-container:hover .element-container .float-element:nth-child(1) {
    -webkit-animation: come-in 0.4s forwards 0.2s;
            animation: come-in 0.4s forwards 0.2s;
  }
  .floating-container:hover .element-container .float-element:nth-child(2) {
    -webkit-animation: come-in 0.4s forwards 0.4s;
            animation: come-in 0.4s forwards 0.4s;
  }
  .floating-container:hover .element-container .float-element:nth-child(3) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
            animation: come-in 0.4s forwards 0.6s;
  }
  .floating-container .floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    z-index: 10000;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .floating-container .float-element {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    color: white;
    line-height: 50px;
    z-index: 100;
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  .floating-container .float-element .material-icons {
    vertical-align: middle;
  }

  /*
  .floating-container .float-element:nth-child(1) {
    box-shadow: 0 20px 20px -10px rgba(66, 165, 245, 0.5);
  }
  .floating-container .float-element:nth-child(2) {
    box-shadow: 0 20px 20px -10px rgba(76, 175, 80, 0.5);
  }
  .floating-container .float-element:nth-child(3) {
    box-shadow: 0 20px 20px -10px rgba(255, 152, 0, 0.5);
  }
  */