 .movebg-par {
    /* background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    animation-name: bgmote;
    animation-duration: 15s;
    animation-iteration-count: infinite; */
    min-height: 30vh;
  }
  /* @media (max-width: 768px) {
    .movebg-par {
        animation-name: bgmotemb;
        animation-duration: 20s;
        animation-iteration-count: infinite;
   }
    @keyframes bgmotemb {
        0% {
           background-image: url(../images/bgs/webp/e1.webp);
       }
        20% {
           background-image: url(../images/bgs/webp/e2.webp);
       }
        40% {
           background-image: url(../images/bgs/webp/e2.webp);
       }
        60% {
           background-image: url(../images/bgs/webp/e2.webp);
       }
        80% {
           background-image: url(../images/bgs/webp/e1.webp);
       }
        100% {
           background-image: url(../images/bgs/webp/e1.webp);
       }
   }
  }  */